<footer class="foot">

    <div class="container foot-content">
        
        <div class="foot-content-item-1">

            <h1>Cooper Gidge</h1>

            <p>
                I am a programmer that specializes in software development. I also do creative writing and web development as hobbies. Honestly, this website is going to be a mess. It is going to represent myself, and I am okay with a bit of messiness.
            </p>

            {% include "partials/components/socials.njk" %}

        </div>

        <div class="foot-content-item-2">

            <h1>Navigation</h1>

            <p class="foot-nav">
                <a href="/">Home</a>
                <a href="/posts/">Archive</a>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
            </p>

        </div>

    </div>

    <div class="mobile-bar-offset"></div>

</footer>