<div class="main container">

    <div class="main-left">

        {{ content | safe }}

    </div>

    <div class="main-right sidebar">

        {% include "partials/components/sidebar-content/mainSidebar.njk" %}

    </div>

</div>