<div class="mobile-bar-wrapper">
    <div class="mobile-bar">

        <div class="mobile-bar-item">
            <a href="/">
                <span class="ri-home-3-line"></span>
                <p>Home</p>
            </a>
        </div>

        <div class="mobile-bar-item">
            <a href="/posts/">
                <span class="ri-book-mark-line"></span>
                <p>Archive</p>
            </a>
        </div>

        <div class="mobile-bar-item">
            <a href="/about/">
                <span class="ri-information-line"></span>
                <p>About</p>
            </a>
        </div>

        <div class="mobile-bar-item">
            <a href="/contact/">
                <span class="ri-mail-line"></span>
                <p>Contact</p>
            </a>
        </div>

    </div>
</div>