<div class="mobile-menu" id="mobile-menu">

    <div class="mobile-menu-items">

        <div class="mobile-menu-item"><span class="ri-close-line mobile-menu-close" onclick="closeMobile()" onKeyDown="if (event.keyCode === 13) {closeMobile()}" aria-label="Close Navigation Menu" tabindex="0" role="button" id="close" data-tooltip="Close Menu" data-tooltip-additional-classes="tooltip" data-tooltip-position="left"></span></div>

        <div class="mobile-menu-item"><a href="/" class="underline-animation" data-text="Home">Home</a></div>
        <div class="mobile-menu-item"><a href="/posts/" class="underline-animation" data-text="Archive">Archive</a></div>
        <div class="mobile-menu-item"><a href="/about/" class="underline-animation" data-text="About">About</a></div>
        <div class="mobile-menu-item"><a href="/contact/" class="underline-animation" data-text="Contact">Contact</a></div>
        
    </div>

</div>

<div class="mobile-menu-fade" id="mobile-menu-fade" onclick="closeMobile()"></div>