<div class="notif" id="notif">

    <p>
        It looks like you prefer dark mode. Would you like to enable it for this website?
    </p>

    <div class="notif-options-container">
        <div class="notif-options">
            <!--<a href="https://www.cookiesandyou.com/" target="_blank" class="notif-option" rel="noreferrer">More Details</a>--> <span class="notif-option notif-theme" onclick="dmTest(); themeToggle(); notifState();" onKeyDown="if (event.keyCode === 13) {dmTest()}" tabindex="0" role="button">Dark Mode</span> <span class="notif-option notif-btn" tabindex="0" role="button">Dismiss</span>
        </div>
    </div>

</div>