<div class="socials">
    <a href="#" class="ri-twitter-fill" aria-label="Twitter" data-tooltip="Twitter" data-tooltip-additional-classes="tooltip"></a>
    <a href="#" class="ri-instagram-line" aria-label="Instagram" data-tooltip="Instagram" data-tooltip-additional-classes="tooltip"></a>
    <a href="#" class="ri-github-fill" aria-label="GitHub" data-tooltip="GitHub" data-tooltip-additional-classes="tooltip"></a>
    <div class="head-socials-line"></div>
    <span>@CooperGidge</span>
</div>