/* ===== SIDEBAR STYLING ===== */

.switch {
    display: flex;
    align-items: center;
    margin-top: 65px;
}

.switch .switch-next {
    margin-left: auto;
}

.switch a {
    text-decoration: none;
}